<div class="row">
<div class="container-fluid">
<h1>Listing ad_agencies</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Photo url</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ad_agencies.each do |ad_agency| %>
  <tr>
    <td><%= ad_agency.name %></td>
    <td><%= ad_agency.description %></td>
    <td><%= ad_agency.photo_url %></td>
    <td><%= ad_agency.email %></td>
    <td><%= link_to 'Show', ad_agency, :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Edit', edit_ad_agency_path(ad_agency), :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Destroy', ad_agency, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ad agency', new_ad_agency_path,:class => 'btn' %>
<%= link_to 'Sign out', signout_path,:class=>'btn btn-primary' %>
</div>
</div>

<div class="row">
<div class="container-fluid">
<br>
   <%= debug current_user %>
</div>
</div>
